body {
  background: linear-gradient(to right, rgb(140, 243, 140), rgb(56, 146, 248));
  background-color: rgb(173, 216, 230); 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;      
  line-height: 1.6;     
  color: rgb(20, 20, 20); 
}

h1 {
  margin: 1.5rem;
  text-align: center;
}

.subtitle {
  text-align: center;
}

#physicaltitle,
#mentaltitle {
  margin: 1.5rem;
}

p {
  margin: 1.5rem;
}

#carouselExampleIndicators {
  max-width: 43.75rem; 
  margin: 1.25rem auto;
}

.carousel-item img {
  max-height: 25rem; 
  width: auto;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

a:hover {
  color: rgb(255, 0, 0);
  background: rgb(255, 255, 0);
}

.accordion-item {
  background-color: rgb(243, 244, 244);
  border: 2px solid rgba(57, 86, 119, 0.4);
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  overflow: hidden;
}


.accordion-button,
.accordion-button:not(.collapsed) {
  background: linear-gradient(
    to right,
    rgb(140, 243, 140),
    rgb(56, 146, 248)
  ) !important;

  color: rgb(20, 20, 20) !important;
  font-weight: 600;
  border-radius: 0.5rem;
}


.accordion-button:focus {
  box-shadow: none !important;
}


.accordion-button::after {
  filter: brightness(0.4);
}

.container{
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 70rem;
  margin: 2rem auto;
  padding: 1rem;
}

.left, .middle, .right{
  flex: 1;                
  min-width: 12rem;       
  padding: 1rem;
  border-radius: 0.75rem;
}



@media (max-width: 50rem){
  .container{
    flex-direction: column;
  }
}

